/*
 *用户管理界面的样式
 */
.bumen{margin-left: 13px;}
.table_add{font-size: 14px;float: right;display: block;margin-right: 16px;}
/*
 * 新增用户界面
 */
.adduser_title{background-color: #ED5322;height: 30px;line-height: 30px;color:#FFFFFF;}
.form_table{margin: 10px auto;line-height: 24px;}
.form_table input{height: 24px;line-height: 24px;font-size: 12px;border: 1px solid #AAAAAA;}
.form-actions{background-color: #FFFFFF;}
.form-actions{border: none;} 
.gray{color:#999999;}
#dialog_bumen{width: 400px;background-color: #FFFFFF;display: no/ne;}
.zTreeDemoBackground{width: 400px;}
.pagination{float: right;}
#table_info{width: 50%;float: left;margin-top: 5px;}
.check_item select{border: none;background-color: #EFEFEF;padding: 0px;margin: 0px;}
.item_checked select{color: #FFFFFF;background-color:#EA6161; }
